.list--columns{
  list-style: none;
  padding-left: 0;
  font-size: 1.2rem;
  column-count: 2;

  @media (max-width: 450px){
    column-count: 1;
  }
  
  li{
    margin-bottom: 20px;
    padding-left: 40px;
    break-inside: avoid;
    position: relative;
    
    &:after{
      content: "";
      position: absolute;
      top: 10px;
      left: 18px;
      display: block;
      height: 6px;
      width: 6px;
      border-radius: 50%;
      background-color: #fff;
    }

    @media (max-width: 600px){
      padding-left: 0;

      &:after{
        display: none;
      }
    }
  }
}