.bg-green{
  background-color: $green;
  color: #fff;
}
.bg-offwhite{background-color: $offwhite;}
.nav-icon{
  display: block;
  max-width: 50px;
  margin: 0 auto;
}
.nav-icon--up{
  display: none;
  margin-bottom: 2rem;
}
.nav-icon--down{
  margin-top: 2rem;
}


section{
  padding: 4rem 0;
}

.shadow{
  box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.25);
}
.grid{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}
.grid__object{
  flex: 1 0 20%;
  width: 20%;
  padding: 24px 8px;
  text-align: center;
  
  p{
    font-size: 1.2rem;
  }
}
.graph--circle{
  max-width: 100px;
  border-radius: 50%;
}

