.timeline-stage{
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	padding-bottom: 20px;
	overflow: scroll;
}
.timeline{
	min-width: 800px;

	&:hover{
		cursor: pointer;
	}
}
.timeline__blocks{
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	padding: 0;
	
	li{
		flex: 1 1 auto;

		img{
			display: inline-block;
			width: 100%;
			max-height: 40px;
		}
	}
}